* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.slidercontainer {
  margin: 40px auto;
  width: 850px;
  height: 250px;
  position: relative;
}

.slidercontainer img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}

.slidercontainer img.active {
  opacity: 1;
}

.slidercontainer .slidernumber {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgb(red, green, rgba(0, 255, 179, 0.603));
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
}
.slidercontrol {
  width: 800px;
  margin: auto;
  overflow: hidden;
}
.slidercontrol .prev,
.slidercontrol .next {
  background-color: salmon;
  color: snow;
  font-size: 16px;
  width: 20%;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none;
}
.slidercontrol .prev {
  float: left;
}
.slidercontrol .next {
  float: right;
}

.slidercontrol .indicators {
  width: 60%;
  float: left;
}
.slidercontrol .indicators ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
.slidercontrol .indicators ul li {
  display: inline-block;
  background-color: #f6f6f6;
  color: turquoise;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  margin: 0 2px;
  line-height: 30px;
  cursor: pointer;
}
.slidercontrol .indicators ul li.active {
  background-color: teal;
  color: #fff;
}
